#top-bar {
    width: calc(100% - 330px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

#addTaskBtn {
    font-size: 40px;
    color: white;
    cursor: pointer;
    display: flex;
}

#stopTaskBtn {
    font-size: 40px;
    color: red;
    cursor: pointer;
    display: flex;
}

#activeTaskTitle, #timer {
    color: white;
}

#topbar-left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addTaskBackground {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
}

.addTaskModal {
    position: fixed;
    background-color: white;
    border-radius: 50px;
    width: 550px;
    height: 550px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.manualAddTaskModal {
    position: fixed;
    background-color: white;
    border-radius: 50px;
    width: 550px;
    height: 650px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.modalTitle {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.modalForm {
    display: grid;
    justify-content: center;
    height: 100px;
}

.modalInput {
    width: 400px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}

.submitBtn {
    background: none;
    border: none;
}

.bi-play-circle-fill {
    font-size: 200px;
    color: #5DBC3C;
    transition-duration: 0.3s;
    cursor: pointer;
}

.bi-play-circle-fill:hover {
    color: #000000;
}

.exitIcon {
    font-size: 30px;
    position: fixed;
    right: 40px;
    top: 30px;
    cursor: pointer;
}


@media (max-width: 700px){
    .addTaskModal {
        width: 90%;
    }
    .modalInput {
        width: 100%;
    }
    .modalTitle {
        margin-top: 90px;
    }
}